{% extends 'base.html' %}

{% block head %}
    <title>Add Entry</title>
{% endblock %}

{% block body %}
    <div class="form">
        <h1 style="text-align: center;">Add Entry</h1>
        <form id="entry-form">
            <input type="text" name="description" placeholder="Description" id="description" required>
            <input type="number" name="amount" placeholder="Amount" id="amount" required>
            <button type="submit">Submit</button>
        </form>
        
    </div>
{% endblock %}

    